@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,400;0,500;1,100;1,500&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: Roboto, Montserrat;
  text-decoration: none;
  list-style: none;
}

:root {
  --main-color: #6c64ff;
  --heading-color: #120e43;
  --black-color: #000000;
  --primary-color: #233c7b;
}

.body {
  background-color: #fbfeff;
}

.first {
    width: 100%;
    padding: 10px 0px 0px;
  }
  
  .first-containet {
    width: 90%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .first img {
    width: 200px;
  }
  
  .first input {
    padding-left: 36px;
    height: 40px;
    border: 2px solid #000000;
    font-size: 20px;
    border: 1px solid var(--primary-color);
  }
  .first input:focus {
    outline: none;
  }
  
  .first button {
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    margin-left: 26px;
    margin-top: 5px;
  }
  
  .first::placeholder {
    position: absolute;
    margin-top: 5px;
    font-size: 22px;
    color: var(--primary-color);
  }
  
  .first .transparent {
    background-color: transparent;
    color: var(--primary-color);
    margin-left: 20px;
  }
  
  .first .color {
    background-color: var(--primary-color);
    color: #ffffff;
  }
  .first .color:hover {
    color: #ffffff;
  }
  
  .first .input-box input {
    width: 700px;
    outline: none;
  }
  .first .input-box img {
    position: absolute;
    margin-top: 9px;
    margin-left: -80px;
  }
  
  .upper-input {
    display: flex;
  }
  
  /* CSS for pure hardwork sevtion  */
  
  .line-div {
    display: flex;
    justify-content: center;
  }
  .line-pure {
    background: #f7a654;
    width: 170px;
    text-align: center;
    height: 3px;
  }


  .nav-item {
    margin-left: 30px;
    color: var(--main-color);
  }
  
  .container-fluid a {
    color: var(--heading-color);
    font-size: 23px;
  }
  
  .nav-item .nav-link {
    font-size: 25px;
  }
  
  .container-fluid a:hover {
    color: var(--main-color);
  }
  
  .nav-item a {
    text-align: center;
    color: var(--primary-color);
  }


  .slider2 {
    overflow: hidden;
  }
  .slide-img {
    /* width: 20%; */
    transition: 2s;
  }
  .slide-img img {
    width: 99vw;
  }
  .slides2 {
    display: flex;
    gap: 10px;
  }
  
  .naviagte-mannual {
    position: absolute;
    width: 98vw;
    display: flex;
    gap: 20px;
    justify-content: center;
    bottom: 6%;
  }
  .mannual-btn {
    background-color: #000000;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transform: 1s;
  
    width: 8px;
    height: 8px;
    opacity: 0.5;
  }
  .mannual-btn:hover {
    background-color: #fff;
    opacity: 1;
    transition: opacity 0.25s ease-in;
  }
  .slides2 input {
    display: none;
  }
  
  #radio1:checked ~ .first-slide-image {
    margin-left: 0;
  }
  
  #radio2:checked ~ .first-slide-image {
    margin-left: -101%;
  }
  
  #radio3:checked ~ .first-slide-image {
    margin-left: -202%;
  }
  
  .navigate-auto {
    position: absolute;
    width: 98vw;
    display: flex;
    gap: 20px;
    justify-content: center;
    bottom: 6%;
  }
  .navigate-auto div {
    background-color: #000000;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transform: 1s;
    width: 8px;
    height: 8px;
    opacity: 0.5;
  }
  #radio1:checked ~ .navigate-auto .auto-btn1 {
    background-color: #ffffff;
  }
  #radio2:checked ~ .navigate-auto .auto-btn2 {
    background-color: #ffffff;
  }
  #radio3:checked ~ .navigate-auto .auto-btn3 {
    background-color: #fff;
  }
  

  
  /* Hall of fame CSS  */
/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

.hall-of-fame {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
.wrapper-hall {
  max-width: 1100px;
  width: 100%;
  position: relative;
}
#left,
#right {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper-hall i:active {
  transform: translateY(-50%) scale(0.85);
}
.wrapper-hall i:first-child {
  left: -22px;
}
.wrapper-hall i:last-child {
  right: -22px;
}
.wrapper-hall .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .card {
  background: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  padding: 10px 0px;
}

.card .img img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
}
.carousel .card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 10px 0px;
  color: var(--primary-color);
}
.carousel .card h3 {
  font-weight: 500;
  font-size: 1rem;
  width: 90%;
  text-align: center;
  font-weight: 400;
  color: #454545;
}
.carousel .card span {
  font-size: 1rem;
  text-align: center;
  margin: 5px 0px 15px;
  color: #454545;
}
#left {
  z-index: 1000;
}

@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}


.third-main .heading {
  margin-top: 50px;
}
.third-main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.third-containt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  width: 90%;
}
.third-containt img {
  width: 230px;
}
.first3,
.second3,
.third3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.third-containt h1 {
  color: var(--primary-color);
}
.third-containt h2 {
  color: #454545;
}

/* .container-fluid a img{
    width: 200px;  
} */

.my-ul-class {
  margin: 30px auto;
}

#carouselExampleCaptions img {
  height: 80vh;
}

/* image-uppermost-css */
.second2 {
  display: flex;
  background-color: #233c7b;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.second2 .second2-left {
  width: 40%;
  height: 600px;
  /* background-color: #d400d4; */
  display: flex;
  flex-direction: column;
  color: #ffffff;
}

.second2 .second2-right {
  width: 50%;
  height: 600px;
}

.second2-left h1 {
  font-weight: 400;
  margin-top: 100px;
}

.color-line {
  width: 300px;
  height: 3px;
  background-color: #f7a654;
  margin: 10px 0px;
}

.second2-left h2 {
  font-weight: 600;
  font-size: 60px;
  margin: 30px 0px;
}

.second2-left h3 {
  font-weight: 400;
  font-size: 28px;
  margin: 15px 0px;
}

.second2-right img {
  border: 5px #233c7b;
  height: 550px;
  width: 100%;
}


/* CSS for live program section  */
.twelve {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.twelve h1 {
  font-size: 60px;
  font-weight: 500;
  color: var(--heading-color);
  align-items: center;
  margin-top: 30px;
}

.twelve .institute-logo {
  margin: 60px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.twelve img {
  height: 200px;
}

.hackthon h1 {
  text-align: center;
  color: var(--primary-color);
  font-weight: 600;
  font-size: 2.5rem;
}

.heading {
  width: 100%;
  color: var(--primary-color);
  font-weight: 600;
  text-align: center;
  font-size: 3.5rem;
  line-height: 1;
}
.live-program {
  margin-top: 100px;
}
.live-program .live-sub {
  text-align: center;
}

.slider_container {
  width: 100%;
  height: auto;
  padding: 50px 0px 40px;
}

.same11 {
  padding: 20px 20px;
  border-radius: 20px;
  background-color: #fff;
  overflow: hidden;
  min-height: 450px;
  box-shadow: 0px 10px 20px rgba(171, 171, 171, 0.25);
  margin-bottom: 50px;
  margin-top: 50px;
}

.same11:hover {
  cursor: pointer;
}

.same11 h1 {
  font-weight: 600;
  margin-top: 35px;
  color: rgb(35, 60, 123);
  font-size: 25px;
  height: 60px;
}

.same11 h2 {
  font-weight: 400;
  margin: 20px 0px;
  color: var(--heading-color);
  font-size: 22px;
  text-align: left;
}

.same11 h3 {
  font-weight: 500;
  color: #000000;
  font-size: 23px;
}

.course-btn {
  height: 40px;
  width: 80px;
  background-color: var(--main-color);
  color: #ffffff;
  border-radius: 8px;
  border: none;
  font-size: 16px;
}

.containet-box2 img {
  margin-left: 30px;
  border-radius: 20px;
}
.slider_container .last {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.live-sub {
  margin-top: 30px;
  font-size: 24px;
  font-weight: 400;
}
.view-more {
  cursor: pointer;
  text-align: center;
  font-size: 22px;
  margin-bottom: 50px;
}
.test h3 {
  margin-top: 50px;
}

.fifth-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: rgb(247, 247, 255);
  margin: 50px 0px;
  overflow-x: hidden;
}

.fifth-main h1 {
  font-size: 60px;
  font-weight: 500;
  text-align: center;
  color: var(--heading-color);
  margin-top: 30px;
}

/* CSS for live program section  */
.twelve {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.twelve h1 {
  font-size: 60px;
  font-weight: 500;
  color: var(--heading-color);
  align-items: center;
  margin-top: 30px;
}

.twelve .institute-logo {
  margin: 60px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.twelve img {
  height: 200px;
}

.hackthon h1 {
  text-align: center;
  color: var(--primary-color);
  font-weight: 600;
  font-size: 2.5rem;
}

.heading {
  width: 100%;
  color: var(--primary-color);
  font-weight: 600;
  text-align: center;
  font-size: 3.5rem;
  line-height: 1;
}
.live-program {
  margin-top: 100px;
}
.live-program .live-sub {
  text-align: center;
}

.slider_container {
  width: 100%;
  height: auto;
  padding: 50px 0px 40px;
}

.same11 {
  padding: 20px 20px;
  border-radius: 20px;
  background-color: #fff;
  overflow: hidden;
  min-height: 450px;
  box-shadow: 0px 10px 20px rgba(171, 171, 171, 0.25);
  margin-bottom: 50px;
  margin-top: 50px;
}

.same11:hover {
  cursor: pointer;
}

.same11 h1 {
  font-weight: 600;
  margin-top: 35px;
  color: rgb(35, 60, 123);
  font-size: 25px;
  height: 60px;
}

.same11 h2 {
  font-weight: 400;
  margin: 20px 0px;
  color: var(--heading-color);
  font-size: 22px;
  text-align: left;
}

.same11 h3 {
  font-weight: 500;
  color: #000000;
  font-size: 23px;
}

.course-btn {
  height: 40px;
  width: 80px;
  background-color: var(--main-color);
  color: #ffffff;
  border-radius: 8px;
  border: none;
  font-size: 16px;
}

.containet-box2 img {
  margin-left: 30px;
  border-radius: 20px;
}
.slider_container .last {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.live-sub {
  margin-top: 30px;
  font-size: 24px;
  font-weight: 400;
}
.view-more {
  cursor: pointer;
  text-align: center;
  font-size: 22px;
  margin-bottom: 50px;
}
.test h3 {
  margin-top: 50px;
}

/* CSS for footer  */
footer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #233c7b;
  width: 100%;
  align-items: flex-start;
  color: #ffffff;
  padding: 50px 0px;
}

@media screen and (max-width: 1490px) {
  /* .third-main{
        background-color: red;
    } */
  .my-ul-class {
    margin: 20px auto;
  }

  .nav-item .nav-link {
    margin: 0px auto;
    /* background-color: #23C4ED; */
    font-size: 20px;
  }
}


/* hackathin comapny CSS  */
.Eeigth-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: rgb(247, 247, 255);
  margin: 100px 0px;
  overflow-x: hidden;
  padding: 60px 0pc 20px;
}

.slide-flex {
  display: flex;
}
.slide img {
  height: 40px;
}

.slide-flex .slide {
  margin: 0px 50px;
  padding: 80px 0px;
}


/* CSS for footer  */
footer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #233c7b;
  width: 100%;
  align-items: flex-start;
  color: #ffffff;
  padding: 50px 0px;
}

footer .first {
  width: 33%;
}

footer .second {
  width: 33%;
}

footer .third {
  width: 20%;
}

footer h2 {
  font-size: 20px;
}

footer h1 {
  font-size: 30px;
}

.social-media {
  display: flex;
  gap: 10px;
}

.icon {
  color: #ffffff;
  font-size: 20px;
}

.fl-al {
  display: flex;
  align-items: center;
  gap: 13px;
}

.line1,
.line2,
.line3,
.line {
  background-color: #f7a654;
  margin: 10px 0px;
}

.line2 {
  height: 2px;
  width: 300px;
}

.line1 {
  height: 2px;
  width: 80%;
  margin: 10px 0px;
}

.line3 {
  height: 2px;
  width: 90%;

  margin: 10px 0px;
}

footer .third h2 {
  margin-top: 20px;
}

.sections {
  display: flex;
  flex-wrap: wrap;
}

.sections .two {
  margin-left: 50px;
}

.same9 h2 {
  margin-top: 20px;
}

.our-product {
  padding: 50px 0px 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.our-product img {
  height: 100px;
}

.our-product .box {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our-product h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--primary-color);
}

.our-product h2 {
  margin: 10px 0px;
  font-size: 1.123rem;
  line-height: 1.75rem;
  color: #454545;
  margin: 8px 0px;
  text-align: center;
  width: 80%;
}

.logo-bar {
  margin-top: 50px;
}

.logo-bar img {
  width: 200px;
}



/* .Eeigth-main h1 {
    font-size: 60px;
    font-weight: 500;
    text-align: center;
    color: var(--heading-color);
    margin-top: 50px;
} */

.swiper-button-next:after,
.swiper-button-prev:after {
  font-family: swiper-icons;
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 10px;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
  color: #000000;
}
.linkdin {
  margin: 20px 0px 10px;
}
